@{
    ViewData["Title"] = "Access Denied";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Access Denied</h1>
    <p>You don't have the authorization to access Admin page.</p>
    <a href="/Account/Login" style="color: blue; text-decoration: underline;">Torna alla pagina di Login</a>
</div>
